<!-- 
    Used for the following pages:
    - created_lists/new 
    - created_lists/edit 
-->

<!-- POST request for submission -->
<form method="post">

    <!-- Body of post request -->
    <div>
        <!-- Input the List Name -->
        <label for="listName">List Name: </label>
        <input type="text" name="listName" id="inputTitle" required>

        <!-- Set the value as Movie List -->
        <input type="hidden" name="movies" id="movies">
    </div>
    
    <!-- Displaying the created list -->
    <div>
        <ol id="showList"></ol>
    </div>
    

    <!-- Add movie to the Movie List -->
    <div>
        <label for="addMovie">Add movie: </label>
        <input list="movieList" id="addMovie" name="addMovie">
        <datalist id="movieList">
            <% for (let i = 0; i < displayList.activeList.length; i++) { %> 
                <option value="<%= displayList.activeList[i]['Title'] %>, <%= displayList.activeList[i]['Year'] %>">
            <% } %> 
        </datalist>

        <!-- Button to add movie to the Movie List -->
        <input id="addMovieButton" type="button" value="+">
    </div>
    
    <!-- Submitting the post request -->
    <div>
        <button id="submit">Submit</button>
    </div>

</form>

<a href="/created_lists">Back to Created Lists</a>
    

<!-- Script -->
<%- include("../scripts/variables/displayList") %> 
<script>

    // Variables from the DOM
    let addMovieButton = document.getElementById('addMovieButton')
    let showList = document.getElementById('showList')
    let submit = document.getElementById('submit')
    let movies = document.getElementById('movies')
    let movieList = document.getElementById('movieList')

    // Add movie from datalist to created List
    addMovieButton.addEventListener('click', (e) => {

        // Get the input from the datalist and declare as variables
        let currentSelectedMovie = document.getElementById('addMovie')

        // Test if inputted movie is from the selected list
        try {

            // Split the input into Title and Year
            currentSelectedMovieTitle = currentSelectedMovie.value.slice(0,-6)
            currentSelectedMovieYear = parseInt(currentSelectedMovie.value.slice(-5))

            // Find the selected movie from the datalist and store in addedMovie variable
            let addedMovie
            for (let i = 0; i < displayList.length; i++) {
                if ((currentSelectedMovieTitle === displayList[i]['Title']) && (currentSelectedMovieYear === displayList[i]['Year'])) {
                    addedMovie = displayList[i]
                    break
                }
            }

            // Check whether it is already in the list (compare Const_IMDBs)
            let isDuplicate = false
            for (let i = 0; i < createdList.length; i++) {
                if (addedMovie['Const_IMDB'] === createdList[i]['Const_IMDB']) {
                    isDuplicate = true
                    break
                }
            }

            // Test if the inputted movie is a duplicate
            if (!isDuplicate) {
                createdList.push(addedMovie)
            }
            else {
                console.error('Movie is already in the list')
            }
            
        } catch (e) {
            console.error('Movie does not exist')
        }

        currentSelectedMovie.value = ""             // Clear the datalist input to blank
        updateDisplayList()                         // Update the display
    })

    // Move selected movie up/down in the list
    function changeList(name) {

        /*
        Change codes are:
            u:  move movie 1 position up in list (i <-> i-1)
            d:  move movie 1 position down in list (i <-> i+1)
            r:  remove movie from the list
        */
        let changeCode = name.slice(0,1)
        let constID = name.slice(2)

        // Find index of the movie in the Created List
        let foundIndex
        for (let i = 0; i < createdList.length; i++) {
            // Isolate the found index
            if (createdList[i]['Const_IMDB'] === constID) {
                foundIndex = i
                break
            }
        }

        // Perform the requested change code
        if (changeCode === 'u') {
            [createdList[foundIndex], createdList[foundIndex-1]] = [createdList[foundIndex-1], createdList[foundIndex]]
        }
        else if (changeCode === 'd') {
            [createdList[foundIndex], createdList[foundIndex+1]] = [createdList[foundIndex+1], createdList[foundIndex]]
        }
        else if (changeCode === 'r') {
            createdList.splice(foundIndex, 1)
        }

        updateDisplayList()                        // Update the display
    }

    // Update the displayed list
    function updateDisplayList() {

        // Clear the existing list
        showList.innerHTML = ""

        // Iterate through created list and display
        for (let i = 0; i < createdList.length; i++) {
            let li = document.createElement("li")
            li.innerHTML = createdList[i]["Title"] + ", " + createdList[i]["Year"]

            // Up arrows for every move except the first
            if (i !== 0) {
                let upButton = document.createElement("button")
                upButton.innerHTML = "&#x2191"
                upButton.name = "u-" + createdList[i]["Const_IMDB"]
                upButton.addEventListener('click', (e) => {
                    changeList(e.target.name)
                })
                li.appendChild(upButton)
            }
            
            // Down arrows for every move except the last element
            if (i !== createdList.length-1) {
                let downButton = document.createElement("button")
                downButton.innerHTML = "&#x2193"
                downButton.name = "d-" + createdList[i]["Const_IMDB"]
                downButton.addEventListener('click', (e) => {
                    changeList(e.target.name)
                })
                li.appendChild(downButton)
            }

            // Add the remove button
            let removeButton = document.createElement("button")
            removeButton.innerHTML = "&#10006"
            removeButton.name = "r-" + createdList[i]["Const_IMDB"]
            removeButton.addEventListener('click', (e) => {
                changeList(e.target.name)
            })
            li.appendChild(removeButton)

            // Add all the list element to the displayed ordered list
            showList.appendChild(li)
            
        }

        // Update the POST request for the current Created List
        movies.value = JSON.stringify(createdList)


        // Update datalist - add movie
        movieList.innerHTML = ''
        
        // Created list for the datalist
        let dataListMovies = displayList.filter((mov) => {
            for (let createdMov of createdList) {
                if (createdMov['Const_IMDB'] === mov['Const_IMDB']) {
                    return false
                }
            }
            return true
        })
        
        // Display the datalist 
        for (let mov of dataListMovies) {
            let newOption = document.createElement('option')
            newOption.innerHTML = `${mov['Title']}, ${mov['Year']}`
            movieList.appendChild(newOption)
        }
    }

</script>