<div>
    <h3>Search</h3>
    <form method="get" id="searchForm">
        <input type="text" name="q" id="searchtext">
    </form>
    
    <h4><i>Search Results</i></h4>
    <ul>
        <% for (let i = 0; i < searchResults.length; i++) { %>
            <li><%= searchResults[i]['Title'] %>
                <form method="post" id="movieSelector">
                    <input type="hidden" name="currentTypedListName">
                    <button name="addID" value="<%= searchResults[i]['Const_IMDB'] %>">Add To List</button>
                </form>
            </li>
        <% } %>  
    </ul>

</div>
<script>
    let input = document.getElementById("searchtext")
    let searchForm = document.querySelector("#searchForm")
    input.oninput = handleInput
    let currentSearchTerm = ""
    function handleInput(e) {
        currentSearchTerm = e.target.value
        searchForm.action = document.location.href + '/search'
    }

</script>
