<div>
    <h3>Search</h3>
    <form action="/movies/search" method="post">
        <input type="text" name="searchtext" id="searchtext">
    </form>
    
    <h4><i>Search Results</i></h4>
    <ul>
        <% for (let i = 0; i < search_results.length; i++) { %>
            <li><%= search_results[i]['Title'] %>
                <form action="" method="post">
                    <button>Add To List</button>
                </form>
            </li>
        <% } %>  
    </ul>

</div>
