<!-- 
    Used for the following pages:
    - created_lists/new 
    - created_lists/edit 
-->

<!-- POST request for submission -->
<div class="col-8 offset-2">
    <form method="post" novalidate class="validated-form">

        <!-- Body of post request -->
        <div class="mb-3">
            <!-- Input the List Name -->
            <label class="form-label" for="listName">List Name: </label>
            <input class="form-control" type="text" name="listName" id="inputTitle" required>
            <div class="valid-feedback">
                Looks good
            </div>
            <div class="invalid-feedback">
                List must have a name!
            </div>


            <!-- Set the value as Movie List -->
            <input type="hidden" name="movies" id="movies">
        </div>

        <div class="mb-3">
            <!-- Input the description for the list -->
            <label for="listDescription" class="form-label">Description: </label>
            <textarea type="text" class="form-control" name="listDescription" id="listDescription"></textarea>
        </div>
        
        <!-- Displaying the created list -->
        <div class="mb-3">
            <ol id="showList"></ol>
        </div>
        

        <!-- Add movie to the Movie List -->
        <div class="mb-3">
            <label class="form-label" for="addMovie">Add movie: </label>
            <input class="form-control" list="movieList" id="addMovie" name="addMovie">
            <datalist id="movieList">
                <% for (let i = 0; i < displayList.length; i++) { %> 
                    <option value="<%= displayList[i]['Title'] %>, <%= displayList[i]['Year'] %>">
                <% } %> 
            </datalist>

            <!-- Button to add movie to the Movie List -->
            <input id="addMovieButton" type="button" value="+" class="btn btn-secondary btn-sm">
        </div>
        
        <!-- Submitting the post request -->
        <div class="mb-3">
            <button class="btn btn-success" id="submit">Submit</button>
        </div>

    </form>
    <a href="/created_lists">Back to Created Lists</a>
</div> 

<!-- Script -->
<%- include("../scripts/variables/displayList") %> 
<script src="/js/newListManipulation.js"></script>
