<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Editing <%= movie.title %> </h1>
    
    <form method="post" action="/movies/<%= movie.id %>?_method=PATCH">

        <input type="number" name="rating" min="0" max="5" value="<%= movie.rating %>">
        <button>Save</button>
    </form>


    <a href="/movies">Back to movies list</a>
</body>
</html>