<% layout('./layouts/boilerplate') %>

<h1 class="text-center">Edit List</h1>

<!-- Preset to edit the imported list -->
<%- include("../scripts/variables/selectedList") %> 
<script>
    let createdList = selectedList.movies
</script>

<%- include("../partials/createList") %> 
<script>

    // Set the POST request route
    let form = document.querySelector('form')
    form.action = document.location.origin + '/created_lists/' + selectedList.id + '?_method=PATCH'

    // Preset the title in the input
    let listName = document.querySelector('#inputTitle')
    listName.value = selectedList.listName

    // Preset the description in the input
    let listDescription = document.querySelector('#listDescription')
    listDescription.value = selectedList.description

    // Load the imported list and display when page is first loaded
    window.onload = function () {
        updateDisplayList()
    }

</script>