<% layout('./layouts/boilerplate') %>

<h1 class="text-center">Add New List</h1>

<!-- Preset to new (empty) list -->
<script>
    let createdList = []
</script>

<%- include("../partials/createList") %> 

<script>

    // Set the POST request route
    let form = document.querySelector('form')
    form.action = document.location.origin + "/created_lists"

</script>