<% layout('layouts/boilerplate') %>
<h1>Upload CSV File</h1>
<!-- Upload file(s) option -->
<div class="row">
    <p>Upload exported IMDB file(s) and press submit.</p>
    <form method="post" action="/upload" enctype="multipart/form-data">
        <% if (enableButtons) { %> 
            <div class="col-6 mb-1 custom-file" name="">
                <label for="formFileMultiple" class="form-label custom-file-label"></label>
                <input class="form-control" type="file" id="formFileMultiple" name="csvs" multiple>
            </div>
        <% } else { %> 
            <div class="col-6 mb-1">
                <input class="form-control" type="file" id="formFileDisabled" disabled>
            </div>
        <% } %> 
        <div class="mb-3" name="divUploadButton">
            <button type="button" class="btn btn-primary btn-sm" name="uploadButton" disabled>Upload</button>
        </div>
    </form>
</div>

<!-- Upload seeds option -->
<div class="row">
    <div class="col mb-1"></div>
    <form method="post" action="/upload/seed">
        <% if (enableButtons) { %> 
            <button type="submit" class="btn btn-primary btn-sm">Upload Test Data</button>
        <% } else { %> 
            <button type="button" class="btn btn-primary btn-sm" disabled>Upload Test Data</button>
        <% } %> 
    </form>
    </div>
</div>

<script>
    let uploadButton = document.getElementsByName('divUploadButton')
    console.log(uploadButton)
    let formFile = document.getElementById('formFileMultiple')

    formFile.addEventListener('change', (e) => {
        if (e.target.value) {
            let activeButton = document.createElement('button')

            activeButton.type = 'submit'
            activeButton.name = 'uploadButton'
            activeButton.className = 'btn btn-primary btn-sm'
            activeButton.innerHTML = 'Upload'
            
            console.log(activeButton)
            uploadButton[0].replaceChildren(activeButton)

        }
    }, { once: true })

    console.log(formFile.value)
    console.log(uploadButton[0].disabled)
</script>