<% layout('layouts/boilerplate') %>
<h1>Upload CSV File</h1>

<!-- Upload file(s) option -->
<div>
    <p>Upload exported IMDB file(s) and press submit.</p>
    <form method="post" action="/upload" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="formFileMultiple" class="form-label">Multiple files input example</label>
            <input class="form-control" type="file" id="formFileMultiple" name="csvs" multiple>
        </div>
          <button>Submit</button>
    </form>

</div>

<!-- Upload seeds option -->
<div>
    <p>To upload test data into the master list, press the below button. </p>
    <form method="post" action="/upload/seed">
        <button>Upload Test Data</button>
    </form>
</div>
