<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New List</title>
</head>
<body>
    <h1>Add New List</h1>
    <form action="/created_lists" method="post">
        <label for="listName">List Name: </label>
        <input type="text" name="listName">

        <button>Submit</button>
    </form>
    <a href="/created_lists">Back to Created Lists</a>
</body>
</html>