<% layout('layouts/boilerplate') %>
<h1>User Settings</h1>
<p>To delete all movies and lists currently in your database:</p>
<form action="/users/<%= username %>/settings?_method=DELETE" method="post">
    <button>Delete database</button>
</form>